@model IEnumerable<JmesJemsSite.Models.Products>
@using System.Linq
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor http
@{
    ViewData["Title"] = "Summary";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
</head>

<body>

    <h1>Summary</h1>
    @if (Model.Count() == 0)
    {
        <h2>Your Shopping Cart Is Empty</h2>;
    }

    // Add total for products in cart
    else
    {
        double Sum = 0;
        foreach (Products p in Model)
        {
            Sum += p.Price;
        }
        <h2> Your Total is @Sum.ToString("C")</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    // MyWebsite.com/Artwork/
                    string prevUrl = http.HttpContext.Request.Path;
                }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-route-id="@item.ProductId" asp-controller="Cart"
                               asp-route-prevUrl="@prevUrl"
                               asp-action="Remove">Remove From Cart</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <div id="paypal-button-container"></div>


    <script src="https://www.paypal.com/sdk/js?client-id=AZ8OQP7Xvtv3GPxxPflBzq9rtPnfaHSJk1k3iUXRbdwkxl29biseLN7r0dy72KLIb-YcHQ5YuRtBTldo">
    </script>

    <script>
        paypal.Buttons().render('#paypal-button-container');
    </script>

    <script>
        paypal.Buttons({
            createOrder: function (data, actions) {
                // This function sets up the details of the transaction, including the amount and line item details.
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '0.01'
                        }
                    }]
                });
            }
        });
    </script>

    <script>
        paypal.Buttons({
            createOrder: function (data, actions) {
                // This function sets up the details of the transaction, including the amount and line item details.
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '0.01'
                        }
                    }]
                });
            },
            onApprove: function (data, actions) {
                // This function captures the funds from the transaction.
                return actions.order.capture().then(function (details) {
                    // This function shows a transaction success message to your buyer.
                    alert('Transaction completed by ' + details.payer.name.given_name);
                });
            }
        });
    </script>

</body>



